page-users-dashboard {

  .bg{
    background: linear-gradient(180deg,black 1.48%,blue 12.52%,red 89.52%);
  }
  .titleicon div{
  display:inline-block;
  margin-bottom:10px;
  }
  .dSlider{
    width: 100% !important;
    height: 29% !important;
    background-color: #f4f4f4!important;
  }
  .dashboardCard{
    border-radius: 1rem !important;
    padding: 30px 0px 45px 0px !important;
  }
  .userText{
    font-size: 16px;
    font-family: "font-medium";
    color: white;
  }
  .bgclr{
    color: white;
    padding-bottom: 35px;
  }
  .bgimg{
    background-image: url('../assets/imgs/bgimg2.png')!important;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.toolbar-background.toolbar-background-ios {
    background: #7c8185c2;
}
}


// .login {
//     background: url(../img/logo.jpg);
//     background-repeat: no-repeat;
//     background-size: contain;
//     background-position: center;
//     width: 80%;
//     height: 246px;
//     margin: auto;
//     z-index: 2;
//     position: relative;
// }
