<ion-header>
  <ion-toolbar class="">
      <!-- <img  object-fit: cover src="../assets/imgs/Sp02.jpg" > -->
  <section text-center class="bgclr bgimg">
    <span class="icon-noimage-icon"></span>
      <h1 style="margin-top: 0rem !important;">Welcome, <br>
        Mr. {{userDetails.emp_f_name}} {{userDetails.emp_l_name}}</h1>
        <span text-center class="userText">
          {{userDetails.emp_cost}}
        </span><br>
        <span text-center class="userText">
            {{userDetails.emp_esg}}
        </span>
  </section>
</ion-toolbar>
</ion-header>
<ion-content style="background-color: #7c8185c2;">

<ion-grid *ngIf="!driverMobileNumber">
  <ion-row>
    <ion-col (click)="showDashboard();">
<img src="assets/imgs/ani/bell2.png" alt="">
    </ion-col>
    <ion-col (click)="showDashboard();">
<img src="assets/imgs/ani/cab1.png" alt="">
    </ion-col>
</ion-row>
  <ion-row>
    <ion-col (click)="showDashboard();">
<img src="assets/imgs/ani/create1.png" alt="">
    </ion-col>
    <ion-col (click)="showDashboard();">
<img src="assets/imgs/ani/raise1.png" alt="">
    </ion-col>
</ion-row>

    <!-- <ion-col col-6>
      <ion-card class="dashboardCard" text-center padding color="danger" (click)="showDashboard();">
        <span class="icon-automobile" style="font-size: 2.7rem"></span>
        <h3>Raise Request</h3>
      </ion-card>
    </ion-col>
    <ion-col col-6>
      <ion-card class="dashboardCard" text-center padding color="danger">
        <span class="icon-loop2" style="font-size: 2.7rem"></span>
        <h3>Trip details</h3>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-6>
      <ion-card class="dashboardCard" text-center padding color="danger" >
        <span class="icon-automobile" style="font-size: 2.7rem"></span>
        <h5>History</h5>
      </ion-card>
    </ion-col>
    <ion-col col-6>
      <ion-card class="dashboardCard" text-center padding color="danger">
        <span class="icon-loop2" style="font-size: 2.7rem"></span>
        <h5>Notifications</h5>
      </ion-card>
    </ion-col>
  </ion-row> -->
</ion-grid>

<ion-grid *ngIf="driverMobileNumber">
  <ion-row>
    <ion-col (click)="getTripDetails('ticketPage');">
<img src="assets/imgs/ani/create1.png" alt="">
    </ion-col>
    <ion-col (click)="getTripDetails('tripPage');">
<img src="assets/imgs/ani/raise1.png" alt="">
    </ion-col>
</ion-row>
  <!-- <ion-row>
  <ion-col col-6>
    <ion-card class="dashboardCard" text-center padding color="danger" (click)="getTripDetails('ticketPage');">
      <span class="icon-automobile" style="font-size: 2.7rem"></span>
      <h5>Scan Ticket</h5>
    </ion-card>
  </ion-col>
  <ion-col col-6>
    <ion-card class="dashboardCard" text-center padding color="danger" (click)="getTripDetails('tripPage');">
      <span class="icon-loop2" style="font-size: 2.7rem"></span>
      <h3>Trip details</h3>
    </ion-card>
  </ion-col>
</ion-row> -->
</ion-grid>

</ion-content>
