<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>103607239823-9d8p1fhm96t1g046kr6bm7d30mfm5tk6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103607239823-9d8p1fhm96t1g046kr6bm7d30mfm5tk6</string>
	<key>API_KEY</key>
	<string>AIzaSyBIa-zfOQgMvP4IZ8y3IFC37QvE8DMxqQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>103607239823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mahindra.vmsapp</string>
	<key>PROJECT_ID</key>
	<string>vmsp-cc6dd</string>
	<key>STORAGE_BUCKET</key>
	<string>vmsp-cc6dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103607239823:ios:1b89b01b10b1c521</string>
	<key>DATABASE_URL</key>
	<string>https://vmsp-cc6dd.firebaseio.com</string>
</dict>
</plist>