<ion-header>
  <ion-navbar color="navColor">
    <ion-title text-center>{{pageTitle}}</ion-title>
    <span class="icon-switch" style="float:right" (click)="logout($event)"></span>
    <span class="icon-info" style="float:right; margin-right: 20px;" (click)="showTermsCondition($event)"></span>
    <!-- <span class="icon-switch" style="float:right" (click)="logout($event)"></span> -->
    <!-- <ion-icon name="information-circle-outline" style="float:right"></ion-icon> -->
  </ion-navbar>
  <ion-toolbar color="white" class="webToolbar">
    <ion-grid>
      <ion-row>
        <ion-col col-8 text-left>
          <span style="font-size: 17px;">{{userDetails.emp_f_name}}/{{userDetails.emp_no}}</span>
        </ion-col>
        <ion-col col-4 text-right>
          <span style="color:#ad081f; font-family: font-medium"> {{userDetails.emp_psa}} </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-8 style="padding-top: 0px;" text-left>
          <span> {{userDetails.emp_cost}} </span>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="formcntent">
    <div>
      <ion-segment [(ngModel)]="requestSegment" color="red">
        <ion-segment-button value="raisereq" (ionSelect)="pageTitle='Raise Request'">
          Raise Request
        </ion-segment-button>
        <ion-segment-button value="history" (ionSelect)="getEmpHistory()">
          History
        </ion-segment-button>
      </ion-segment>
    </div>
    <div [ngSwitch]="requestSegment">
      <form *ngSwitchCase="'raisereq'" [formGroup]="bookingForm">
        <div *ngIf="!confirmReqst">

          <ion-item>
            <ion-label floating>Purpose<sup style="color:red">*</sup></ion-label>
            <ion-input type="text" formControlName="updatepurpose"></ion-input>
          </ion-item>
          <ion-item>
            <span ion-datepicker (ionChanged)="setDate($event);" [value]="minDate" [min]="minDate" [cancelText]='Today' clear>
              <span>{{travelDate | date}}
                <ion-icon name="clipboard" item-left></ion-icon>
              </span>
            </span>
          </ion-item>
          <ion-item>
            <ion-label floating>Time<sup style="color:red">*</sup></ion-label>
            <ion-datetime displayFormat="HH:mm" [min]="currTime" formControlName="traveltime">
            </ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label floating>My Location<sup style="color:red">*</sup></ion-label>
            <ion-select formControlName="travelsrc" name="travelsrc">
              <div *ngFor="let locs of locations">
                <ion-option value="{{locs.loc_name}}">{{locs.loc_name}}</ion-option>
              </div>
            </ion-select>
            <!-- <ion-label floating>My Location</ion-label>
        <ion-input type="text" formControlName="travelsrc"></ion-input> -->
          </ion-item>
          <ion-item>
            <ion-label floating>Destination<sup style="color:red">*</sup></ion-label>
            <ion-input type="text" formControlName="traveldest" maxlength=30></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Pickup point<sup style="color:red">*</sup></ion-label>
            <ion-input type="text" formControlName="pickpoint" maxlength=30></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Remark<sup style="color:red">*</sup></ion-label>
            <ion-input type="text" formControlName="remark"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Travel type<sup style="color:red">*</sup></ion-label>
            <ion-select formControlName="travelType">
              <ion-option value="outstation">Outstation</ion-option>
              <ion-option value="local">Local</ion-option>
            </ion-select>
          </ion-item>
          <ion-row text-center class="row-height" style="margin-top: 1%">
            <ion-col>
              <button ion-button small="true" [disabled]="!bookingForm.valid" color="red" (click)="logForm()">Next
              </button>
            </ion-col>
          </ion-row>
        </div>
        <div *ngIf="confirmReqst">
          <ion-card>
            <ion-card-header style="text-align: center" color="red">

              <span>Confirm Request</span>
              <span class="icon-pencil" style="float: right;" (click)="editRequest()"></span>
            </ion-card-header>
            <ion-card-content style="padding: 13px 6px 5px;">
              <ion-row>
                <ion-col>
                  <span class="formtitle">Purpose</span>
                </ion-col>
                <ion-col>
                  {{bookingForm.value.updatepurpose}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <span class="formtitle">Travel Date</span>
                </ion-col>
                <ion-col>
                  {{travelDate | date}}
                  <!-- {{bookingForm.value.traveldate | date}} -->
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <span class="formtitle">Travel Time</span>
                </ion-col>
                <ion-col>
                  {{bookingForm.value.traveltime}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <span class="formtitle">My Location</span>
                </ion-col>
                <ion-col>
                  {{bookingForm.value.travelsrc}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <span class="formtitle">Destination</span>
                </ion-col>
                <ion-col>
                  {{bookingForm.value.traveldest}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <span class="formtitle">Pickup point</span>
                </ion-col>
                <ion-col>
                  {{bookingForm.value.pickpoint}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <span class="formtitle">Remark</span>
                </ion-col>
                <ion-col>
                  {{bookingForm.value.remark}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <span class="formtitle">Travel Type</span>
                </ion-col>
                <ion-col>
                  {{bookingForm.value.travelType}}
                </ion-col>
              </ion-row>

              <ion-row text-center class="row-height" style="margin-top: 1%">
                <ion-col>

                  <button ion-button small="true" color="red" (click)="cancelReq()">Cancel Request
                  </button>
                  <button ion-button small="true" color="red" (click)="sendRequest()">Send Request
                  </button>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </div>
      </form>
      <div *ngSwitchCase="'history'">
        <ion-list>
          <ion-list-header style="background: #9e9e9e1f !important; margin-bottom: 0px;">
            <span style="color:#ad081f">Booking History</span>
          </ion-list-header>
          <ng-container *ngFor="let hdata of historyData">
            <ion-item *ngIf="hdata.travel_date && hdata.travel_date != 'null' ">
              <div (click)="openDetail(hdata)">
                <span>
                  <h3 class="reqText">
                    <span class="icon-directions_car" style="padding-right: 10px;margin-bottom: 10px;"></span>{{hdata.purpose}}</h3>

                </span>

                <span text-left style="color: #a90e1b;" *ngIf="hdata.travel_date!=null">
                  {{hdata.travel_date}}, {{hdata.travel_time}}
                </span>
                <span class="statusWrds">
                  <h6>{{hdata.status}}</h6>
                  <h6 *ngIf="hdata.status == 'Pending with Manager' ">{{hdata.bh_UserName}}
                  </h6>
                </span>
                <div>
                  <ul class="bar">
                    <li style="color:green">
                      <h3>{{hdata.source}}</h3>
                    </li>
                    <li style="color:#a90e1b">
                      <h3>{{hdata.destination}}</h3>
                    </li>
                  </ul>

                </div>
              </div>
              <span class="statusWrds" *ngIf="hdata.status != 'started' && hdata.status != 'Completed' && hdata.status != 'Rejected' && hdata.status != 'Approved'">
                <button ion-button small="true" color="red" (click)="cancelCabReq($event,hdata.id)">Cancel
                </button>
              </span>
              <!-- <span style="float:right; margin-top: -10px;" *ngIf="hdata.status == 'Completed'">
                <ionic3-star-rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="rgb(120, 193, 35)" defaultColor="red" readonly="false" [rating]="rating">
                </ionic3-star-rating>
              </span> -->
            </ion-item>
          </ng-container>
        </ion-list>
      </div>
    </div>
  </ion-grid>
</ion-content>